<div class="container">
    <h1>Faça seu cadastro</h1>

    <form action="/cadastro" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" name="nome" required>
    
            <label for="cnpj">CNPJ:</label>
            <input type="text" class="form-control" name="cnpj" required>
    
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" name="senha" required>
    
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>
