
<section class="home">
    <div class="home-content">
        <h2>Bem-vindo ao sistema, <%= nome %>!</h2>
    
        <h3>Selecione uma das telas abaixo:</h3>
    
        <div class="telas">
            <div class="div-1">
                <a  href="/estoque">Estoque</a>
            </div>

            <div  class="div-2">
                <a href="/cadastro-produto">Cadastrar produto</a>
            </div>

            <div class="div-3">
                <a  href="/saida-peca">Saída de produto</a>
            </div>

            <div class="div-4">
                <a  href="/relatorios">Relatórios</a>
            </div>
        </div>
    </div>
</section>

<div class="deslogar">
    <form action="/logout" method="POST" style="display:inline;">
        <button type="submit">Sair</button>
    </form>
</div>


