<div class="container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" name="cnpj" required>

            <label for="senha">Senha</label>
            <input type="password" class="form-control" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>

    <div class="redirecionamento">
        <h2>Não possui login? Faça seu cadastro!</h2>
        <a href="/cadastro">Cadastre-se</a>
    </div>
</div>



